body {
  font-family: 'Nunito', sans-serif;
  background-color: black;
}

p {
  color: white;
}

.DIAG::before {
  color: white;
  content: ">>> ";
}

.PROM {
  color: lightcoral;
}

.DYS {
  color: yellow;
}

.ELN {
  color: #FFFF66;
}

.ARC {
  color: orangered;
}

.PLEI {
  color: aqua;
}

.ALC {
  color: cornflowerblue;
}